:root{
    --colour-1st: rgb(60, 123, 229);
    --colour-2nd: rgba(255, 255, 255, 0.34);
    --colour-3rd: rgba(227, 227, 227, 0.84);
    --colour-text-1st: white;
    --colour-text-2nd: black;
    margin: 10px;

    font-weight: bold;


}
body{
    background-color: var(--colour-1st);
    color: var(--colour-text-2nd);
    font-family: Helvetica;
}
main {
    display: grid;
    grid-template-columns: 60fr 40fr;
    grid-gap: 15px;
    min-height: 700px;
    font-family: Helvetica;
}

.container {
    background-color: var(--colour-3rd);
    display: grid;
    grid-template-columns: 20fr;
    grid-template-rows: 10fr 10fr 10fr 10fr auto ;
    position: relative;
    min-height: 80%;
    grid-gap: 0;
    font-family: Helvetica;


}

.container > div{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 95%;
}
.section{
    border-radius: 15px;
    width: 95%;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;


}

section, div {
    background-color: var(--colour-3rd);
    border-radius: 15px;
    /*border: 2px solid black;*/
}

.selection {
    display: grid;
    grid-template-columns: 20fr 80fr;
    top: 10px
}

.section > div {
    max-width: 90%;
    justify-content: center;
    margin: 10px auto;


}
.selector, .section-properties {
    display: grid;
    justify-content: center;
}
.section-properties {

    grid-template-columns: 15fr 15fr 15fr 15fr auto;
    justify-content: center;
}


.section-properties div{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;

}

.functionality{
    position: relative;
    top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border-radius: 15px;

}
button{
    background-color: var(--colour-1st);
    color: var(--colour-text-1st);
    border-radius: 20px;
    border:none;
    height: 2rem;
    padding: 0.3rem;
    margin: 0.5rem;
    font-family: Helvetica;
}

select {
    background-color: var(--colour-1st);
    color: var(--colour-text-1st);
    font-size: large;
    font-family: Helvetica;
    border-radius: 5px;
}
option{
    background-color: var(--colour-text-2nd);
    color: var(--colour-text-1st);
}

input {
    background-color: var(--colour-2nd);
    border-radius: 5px;
    color: var(--colour-text-2nd);
    border: 1px solid var(--colour-1st);
    width: 3rem;
    height: 1.5rem;
}
input:focus-visible {
    outline: 2px solid var(--colour-1st);
    outline-style: dashed;
    border-radius: 0px;

}
.functionality{
    position: relative;
    display: inline-grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 3rem 3rem;
    justify-content: center;

}
.functionality button {
    width: 95%;
    align-self: center;
}
.functionality button {
    width: 95%;
    align-self: center;
}

button:hover{
    color: var(--colour-1st);
    background-color: var(--colour-2nd);
}

.output-text{

margin: 15px;


}
#output-section{
    position: relative;
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 6rem auto;
    justify-content: center;
    grid-gap: 1rem;
}
